.aboutUs p {
    width: 100%;
}
.about-us-wrap {
    width: 100%;
}
.img-dr {
    background: url("../img/slide-birthday.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}
.img-dr1 {
    background: url("../img/korporat.webp");
    height: 500px;
    width: 100%;
    background-size: cover;
}
.img-dr2 {
    background: url("../img/svadba.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}
.img-dr3 {
    background: url("../img/themed-party.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}